<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the alumnos_init() hook (in hooks/alumnos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="alumnos-carnet-<%%VALUE(id)%%>" class="alumnos-carnet text-center"><%%SELECT%%><%%VALUE(carnet)%%><%%ENDSELECT%%></td>
		<td id="alumnos-nombre_completo-<%%VALUE(id)%%>" class="alumnos-nombre_completo text-center"><%%SELECT%%><%%VALUE(nombre_completo)%%><%%ENDSELECT%%></td>
		<td id="alumnos-facultad-<%%VALUE(id)%%>" class="alumnos-facultad text-center"><%%SELECT%%><%%VALUE(facultad)%%><%%ENDSELECT%%></td>
		<td id="alumnos-turno-<%%VALUE(id)%%>" class="alumnos-turno text-center"><%%SELECT%%><%%VALUE(turno)%%><%%ENDSELECT%%></td>
		<td id="alumnos-fecha_matri-<%%VALUE(id)%%>" class="alumnos-fecha_matri text-center"><%%SELECT%%><%%VALUE(fecha_matri)%%><%%ENDSELECT%%></td>
		<td id="alumnos-numero-<%%VALUE(id)%%>" class="alumnos-numero text-center"><%%SELECT%%><%%VALUE(numero)%%><%%ENDSELECT%%></td>
